* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f1f1f1;
}

.container {
    width: 400px;
    margin: 140px auto;
}

.card {
    background: #373f4d;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 60px 50px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.card h1 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 300;
}

.card p {
    font-size: 15px;
    margin-bottom: 30px;
}

.card .form-group {
    margin-bottom: 20px;
}

.card input[type="text"] {
    width: 100%;
    padding: 15px 10px;
    font-size: large;
    border: none;
    background-color: #f1f1f1;
}

.card button {
    width: 100%;
    padding: 15px 10px;
    font-size: large;
    background: linear-gradient(
        342deg,
        rgba(238, 174, 202, 1) 16%,
        rgba(148, 187, 233, 1) 69%
    );
    color: #fff;
    cursor: pointer;
}

.card button:hover {
    background: linear-gradient(
        146deg,
        rgba(2, 0, 36, 1) 14%,
        rgba(9, 9, 121, 1) 34%,
        rgba(0, 212, 255, 1) 100%
    );
}
