body {
  font-family: "Poppins", sans-serif;
}

h3,
p {
  margin: 0;
}

.box {
  background: coral;
  min-width: 200px;
  margin: 20px;
  padding: 20px;
}

.box h3 {
  margin-bottom: 10px;
}

.box-2 {
  /* margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 50px; */

  margin: 20px 30px 40px 50px;
}

.box-3 {
  margin-left: -30px;
}

.box-1 {
  margin: 100px auto;
}
