body {
    font-family: Arial, sans-serif;
}

.none-el {
    display: none;
}

.hidden-el {
    visibility: none;
}

/* p {
    display: inline;
}

a {
    display: block;
} */

a {
    display: inline-block;
    background: lightblue;
    border: blue solid 1px;
    margin: 20px 10px;
    padding: 10px;
    width: 200px;
    height: 100px;
}
