body {
    font-family: "Poppins", "Arial", sans-serif;
    line-height: 2;
}

h2 {
    font-size: x-large;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;

    /* font: italic small-caps 700 26px Arial; */

    text-transform: capitalize;
    text-indent: 20px;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: center;
}
