body {
    font-family: Arial, sans-serif;
}

.box {
    width: 200px;
    height: 200px;
    background: lightblue;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    position: static;
    left: 30px;
}

.box2 {
    position: relative;
    left: 30px;
    top: 20px;
}

.box3 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.box4 {
    position: sticky;
    top: 200px;
}

.box5 {
    position: relative;
    width: 500px;
    height: 500px;
    background: coral;
    z-index: 1;
}

.box6 {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
