* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.box {
    background: white;
    max-width: 400px;
    margin: 20px;
    padding: 20px;

    /* Shorthand */
    border: 2px solid black;

    /* Same as above */
    /* border-width: 2px;
    border-style: dashed;
    border-color: red; */
}

.box-1 {
    border: none;
    border-top: 4px solid blue;
    border-bottom: solid #ff0000 4px;
}

.box-2 {
    border-radius: 10px;
}

.box-3 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
